<% if @book.errors.any? %>
	<h3>error</h3>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
<% end %>

<div class="container">
	<div class="row">
		<%= render 'books/list', user: @user , book_new: @book_new %>
	    <div class="col-xs-9">
			<h1>Book detail</h1>
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
				<tr>
				    <td><%= attachment_image_tag @user, :profile_image,:fill,50,50  %><br>
				    	<%= link_to @book.user.name , user_path(@book.user) %>
				    </td>
		            <td><%= link_to @book.title ,book_path %></td>
		            <td><%= @book.body %></td>
		            <% if @book.user_id == current_user.id %>
		            <td><%= link_to "Edit",edit_book_path , class:"btn-sm btn-success edit_book_28833" %></td>
		            <td><%= link_to "Destroy", book_path(@book.id),method: :delete, class:"btn-sm btn-danger destroy_book_28833" , "data-confirm" => "本当に削除しますか？" %>
	            	</td>
	            	<% end %>
	        	</tr>
	        </table>
	    </div>
	</div>
</div>

